.hero
  position relative
  &::before
    display: block
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0
    background: #000000
    opacity: .3

.color-picker, .fullscreen-wrapper
  display: none    