$accentColor = #fb9b5f // 主题色

.personal 
  .navbar
    background-color #000
    .site-name
      color: #fff
    .links
      background-color #000
    .nav-links a
      color: #fff  
    .nav-dropdown
      background-color: #000  
  .custom-layout
    color: #fff
    h4
      color #fff
    .content code
      background: rgba(255, 255, 255, .3)
      color: #fff